/* h1 color rojo para probar que funciona CSS en todas las vistas*/
h1 {
    color: red;
    margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%;
}

header, footer {
    background-color: rgb(33, 33, 33);
    color: white;
    
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.listaMenuHam {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.listaMenuHam li a {
    text-decoration: none;
    color: #1c1c1c;
}

.hamburguesaAbrir,
.hamburguesaCerrar {
    display: none;
}

@media screen and (max-width: 550px) {
    .hamburguesaAbrir,
    .hamburguesaCerrar {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .hamburguesaAbrir {
        color: #1c1c1c;
    }

    .hamburguesaCerrar {
        color: #ececec;
    }

    .menuHam {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    
    
    .listaMenuHam {
        flex-direction: column;
        align-items: end;
    }

    .listaMenuHam li a {
        color: #ecececec;
    }
}